'.source.js':
    'function log':
        'prefix': 'conlog'
        'body': """
            console.log('${1:module.id}:${2:function name}', arguments);
        """
    'object method':
        'prefix': 'objfunc'
        'body': """
            ${1:function name}: function (${2}) {
                // summary:
                //      ${3:description}
                // ${4:param or return}
                console.log('${5:module.id}:${1:function name}', arguments);

                ${6}
            }${7}
        """
    'object property':
        'prefix': 'objprop'
        'body': """
            // ${1:name}: ${2:Type}
            //      ${3:summary}
            ${1:name}: ${4:value},${5}
        """
