'.source.js':
    'function log':
        'prefix': 'conlog'
        'body': """
            console.log('${1:module.id}:${2:function name}', arguments);
        """
    'object method':
        'prefix': 'objfunc'
        'body': """
            /** ${3:description}. 
             * @param ${5:param_type} - ${2:param_name} - ${6:param_description}
             * @returns ${7:return_type} - ${8:return_description}
             */
            ${1:function name}: function (${2}) {
                console.log('${4:module.id}:${1:function name}', arguments);

                ${10}
            }${9}
        """
    'object property':
        'prefix': 'objprop'
        'body': """
            /** @property ${2:type} - ${3:description}. */
            ${1:name}: ${4:value},${5}
        """
    'log the value of a variable':
        'prefix': 'logvalue'
        'body': """
        console.debug('${1:variable}', ${1:variable});
        ${2}
        """
