'.source.python':
  'debug with nose':
    'prefix': 'ndebug'
    'body': """
     from nose.tools import set_trace
     set_trace()
    """
  'debug with pdb':
    'prefix': 'debug'
    'body': """
     import pdb
     pdb.set_trace()
    """
  'create new file header':
    'prefix': 'header'
    'body': """#!/usr/bin/env python
            # * coding: utf8 *
            '''
            ${1:module}.py

            ${2:A module that contains}
            '''

            ${3:import }


            ${4}

            """
