'.source.js':
    'jasmine describe':
        'prefix': 'jasdesc'
        'body': """
            describe('${1:name}', () => {
                it('${2:testname}', () => {
                    ${3:testbody}
                });
            });
        """
    'jasmine it':
        'prefix': 'jasit'
        'body': """
            it('${1:testname}', () => {
                ${2:testcode}
            });
        """
    'jasmine beforeEach':
        'prefix': 'jasbefore'
        'body': """
            beforeEach(() => {
                ${1:testcode}
            });
        """
    'jasmine afterEach':
        'prefix': 'jasafter'
        'body': """
            afterEach(() => {
                ${1:testcode}
            });
        """
    'StubModule':
        'prefix': 'stubmodule'
        'body': """
            stubmodule('${1:module-to-be-stubbed}', {
                ${2:stubs}
            }).then(StubbedModule => {
                var testWidget2 = new StubbedModule({}, domConstruct.create('div', {}, document.body));
                ${3}
            });
        """
